{% extends 'base.html.twig' %}

{% block title 'Change password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Change Password</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="form-group">
                    <button class="btn btn-block btn-outline-primary" type="submit">update</button>
                </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
