{% extends 'base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Pofile</h1>

            <img src="https://www.gravatar.com/avatar/{{ app.user.email|trim|lower|md5 }}?&s=300" alt="{{ app.user.fullName }} - profile image" class="shadow rounded-circle">

            <h2 class="mt-5">{{ app.user.fullName }}</h2>
            <p class="lead text-muted">{{ app.user.email }}</p>
            <nav>
                <a href="">Edit account</a> | <a href="">Change password</a>
            </nav>
        </div>
    </div>
{% endblock %}
