{% extends 'base.html.twig' %}

{% block title 'Edit Pin ' ~ pin.id %}

{% block body %}
    <div><h1>Edit Pin #{{ pin.id }}</h1></div>

    {{ include('pin/_form.html.twig', {submitButtonText: 'zapisz zaminy'}) }}
{% endblock %}